.Image{
    height: 100px;
    width: 100px;
}

.product-card{
    background-color: rgb(173, 168, 168);
    padding: 10px;
    border-radius: 10px;
}
h2{
    color:rgb(136, 91, 7);
}
p{
    font-weight: bold;
    color: green;
}
button:hover{
    background-color: blue;
}